{% extends "base.html" %}

{% block main %}

<h2>Inbox</h2>
<div>
    {% for message in messages %}
        <p>From: 
        <a href="{% url 'bank_app:message_detail' message.pk %}">{{ message.sender }} - {{ message.timestamp }}</a></p>
    {% endfor %}
</div>

<hr>

<h2>Send Message</h2>
<form method="post" action="{% url 'bank_app:message' %}">
    {% csrf_token %}
    <fieldset>
        {{ form.receiver }}
        {{ form.content }}
        <input type="submit" value="Send message"/>
    </fieldset>
    
</form>


{% endblock main %}